1. Write a Python program to count the numbers of characters in the string and store them in
a dictionary data structure.

In [1]:
str1 = 'student at anna university'
d = {}
def frequency(x):
    for i in x:
        if i not in d and i.isalpha():
            d[i] = 1
        else:
            if i.isalpha():
                d[i] += 1
    return d
print(frequency(str1))

{'s': 2, 't': 4, 'u': 2, 'd': 1, 'e': 2, 'n': 4, 'a': 3, 'i': 2, 'v': 1, 'r': 1, 'y': 1}

2. Write a Python program to sort a list alphabetically in a dictionary.

In [2]:
l = {'s': 2, 't': 4, 'u': 2, 'd': 1, 'e': 2, 'n': 4}
def dic_sort(d):
    return sorted(d.keys())
print(dic_sort(l))

['d', 'e', 'n', 's', 't', 'u']

3. Write a Python program to map two lists into a dictionary.

In [4]:
lst1 = list('abcde')
lst2 = [1,2,3,4,5]
print(dict(zip(lst1,lst2)))

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

4. Write a Python script to concatenate following dictionaries to create a new one as d1={1:10,2:20},d2={3:30,4:40},d3={5:50,6:60}, result={1:10,2:20,3:30,4:40,5:50,6:60}.

In [5]:
dic1 = {'a': 10, 'b': 20}
dic2 = {'c': 30, 'd': 40}
dic3 = {'e': 50, 'f': 60}
dic = {}
dic.update(dic1)
dic.update(dic2)
dic.update(dic3)
print(dic)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

5. Write a Python script to concatenate following dictionaries to create a new one as d1={1:10,2:20},d2={3:30,4:40},d3={5:50,6:60}, result={1:10,2:20,3:30,4:40,5:50,6:60}.

In [6]:
dic1 = {'a': 10, 'b': 20}
dic2 = {'c': 30, 'd': 40}
dic3 = {'e': 50, 'f': 60}
dic = {}
dic.update(dic1)
dic.update(dic2)
dic.update(dic3)
print(dic)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

6. Write a Python script to generate and print a dictionary that contains a number between 1 and n in the form (x,x*x). Sample output dictionary for n=4: {1:1, 2:4, 3:9, 4:16}.

In [28]:
n = int(input('Enter n = '))
dict1 = {x:x*2 for x in range(1,n+1)}
print(dict1)

Enter n =  5

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

7. Write a Python program to combine two dictionary adding values for common keys.

In [7]:
d1 = {'a':5, 'b':5, 'c':5, 'd':5}
d2 = {'c':5, 'd':5, 'e':5, 'f':5}
d3 = d1
def add_dic(x):
    for key,val in x.items():
        if key not in d3:
            d3[key] = val
        else:
            d3[key] += val
    return d3
print(add_dic(d2))

{'a': 5, 'b': 5, 'c': 10, 'd': 10, 'e': 5, 'f': 5}

8. Write a Python program that displays information about a student. Use nested dictionary

In [8]:
dic = {2022115042: {'name': 'suren', 'age': 17, 'dept': 'IT'}, 2022115041: {'name': 'adithyan', 'age': 17, 'dept': 'IT'}}
for i, j in dic.items():
    print('roll no',':', i)
    for key, val in j.items():
        print(key, ':', val)

roll no : 2022115042
name : suren
age : 17
dept : IT
roll no : 2022115041
name : adithyan
age : 17
dept : IT

9. Write a Python program that has a dictionary of subjects of first/second semester and their subject codes. Add another subject in the pre-defined dictionary, print all the items in the dictionary and try to print code for a subject which does not exists. Set a default value prior to printing.

In [9]:
sub_dic = {'Eng_Physics': 'PH55151', 'Eng_Maths': 'MA5151', 'Eng_Chemistry': 'CH5151', 'Technical English': 'GE5151'}
sub_dic['Python Programming'] = 'PY5153'
for key, val in sub_dic.items():
    print(key, ':', val)

print()
a = input('Enter another subject = ')
if a in sub_dic:
    print(sub_dic[a])
else:
    print('sub_dic[',a,']= TA5151')

Eng_Physics : PH55151
Eng_Maths : MA5151
Eng_Chemistry : CH5151
Technical English : GE5151
Python Programming : PY5153

Enter another subject =  tamil

sub_dic[ tamil ]= TA5151

10. Write a Python program that has dictionary of names of Subject name and a list of that three assessment marks. Create another dictionary from this that has the name of the subjects and their total marks. Find out the top most scoring and least scoring with total.

In [10]:
mark = {'E_Mat': [20, 19, 57], 'Python': [18, 19, 55], 'E_phy': [18, 18, 54], 'E_Chem': [17, 17, 55], 'T_Eng': [17, 17, 52]}
print('three assignment mark = ', mark)
T_mark = {}
for key, val in mark.items():
    T_mark[key] = sum(val)

print('Total mark = ', T_mark)
print('The top score is = ', max(T_mark.values()))
print('The least score is', min(T_mark.values()))

three assignment mark =  {'E_Mat': [20, 19, 57], 'Python': [18, 19, 55], 'E_phy': [18, 18, 54], 'E_Chem': [17, 17, 55], 'T_Eng': [17, 17, 52]}
Total mark =  {'E_Mat': 96, 'Python': 92, 'E_phy': 90, 'E_Chem': 89, 'T_Eng': 86}
The top score is =  96
The least score is 86

11. Write a Python program to find maximum and the minimum value in a Dictionary.

In [11]:
n = int(input('Enter a number of element = '))
dict1 = {x:int(input('Enter a number = '))for x in range(1,n+1)}
def mx_mn(x):
    mx = x[1]
    mn = x[1]
    for i in x.values():
        if i > mx:
            mx = i
        if i < mn:
            mn = i
    return mx , mn
r = mx_mn(dict1)
print(r)

Enter a number of element =  5
Enter a number =  10
Enter a number =  5
Enter a number =  1
Enter a number =  20
Enter a number =  3

(20, 1)

12. Write a Python program to illustrate the use of duplicate keys in a dictionary.

In [12]:
dic = {'a': 2, 'b': 4, 'c': 2, 'a': 1, 'b': 2, 'c': 4}
print(dic)

{'a': 1, 'b': 2, 'c': 4}

13. Write a Python program to sort Counter by value.
Sample data: {'Math':81, 'Physics':83, 'Chemistry':87}
Expected data: [('Chemistry', 87), ('Physics', 83), ('Math', 81)]

In [14]:
def rever(d, reverse=False):
    if reverse == True:
        t = sorted(d.items(), key=lambda x: x[1], reverse=True)
    else:
        t = sorted(d.items(), key=lambda x: x[1], reverse=False)
    return t

dic = {'Math':81, 'Physics':87, 'Chemistry':83}
print(rever(dic,True))

[('Physics', 87), ('Chemistry', 83), ('Math', 81)]

14. Write a Python program to match key values in two dictionaries.
Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
Expected output: key1: 1 is present in both x and y.

In [15]:
d1={'key1': 1, 'key2': 1, 'key3': 2}
d2={'key1': 1, 'key2': 2}
for x in d1:
    for y in d2:
        if x == y and d1[x] == d2[y]:
            print(x, ':', d1[x], 'is present in both dictionary')

key1 : 1 is present in both dictionary

15. Write a Python script to sort (ascending and descending) a dictionary by value.

In [16]:
def reverse(d, reverse=False):
    if reverse == 1:
        t = sorted(d.items(), key=lambda x: x[1], reverse=True)
    else:
        t = sorted(d.items(), key=lambda x: x[1], reverse=False)
    return t


dic = {'s': 2, 't': 4, 'u': 2, 'd': 1, 'e': 2, 'n': 4}
print(reverse(dic))

[('d', 1), ('s', 2), ('u', 2), ('e', 2), ('t', 4), ('n', 4)]

16. Write a Python program to get the top three items in a shop. 
                   Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24} and
                   Expected Output:
                   item4 55
                   item1 45.5
                   item3 41.3

In [27]:
dic = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
i = 1
dic1= reverse(dic, True)
print(dic1[:3])

[('item4', 55), ('item1', 45.5), ('item3', 41.3)]

17. Write a function def studrank(details) which performs the following actions:
         a. Details is a dictionary given as input argument
         b .Calculates the total internal marks for each student. Total internal marks is simply the cumulative summation of all subject marks obtained in ass1 and ass2.
         c. Calculates the rank for each student based on the total internal marks
         d. Sorts the elements in ascending order based on the computed rank
         e. Test the function by creating a dictionary as given below:
         details = {  20201010: {'name':'Khan','age':18, ass1':{'phy':88,'chem':99,'mat':99,'py':99},'ass2':{'phy':88,'chem':99,'mat':99,'py':99},'imark':0,'rank':0},
                           20201011: {'name':'Sam','age':18, 'ass1':{'phy':81,'chem':79,'mat':99,'py':89},'ass2':{'phy':80,'chem':89,'mat':79,'py':79},'imark':0,'rank':0},
                           20201012: {'name':'Ram','age':18, 'ass1':{'phy':68,'chem':79,'mat':89,'py':99},'ass2':{'phy':58,'chem':69,'mat':79,'py':99},'imark':0,'rank':0}}